.grid { 
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.square {
    background-color: white;
    border: 1px solid black;
  }

body { 
    display: flex;
    flex-direction: column;
}

.title  {
    display: flex;
    align-self: center;
}

.main { 
    display: flex;
    justify-content: space-between;

}

.control-panel { 
    display: flex;
    flex-direction: column;
}